/* Move down content because we have a fixed navbar that is 3.5rem tall */

.jumbotron {
	text-align: center;
	margin-bottom: 0px;
	background-image: url("../images/roses_v2.jpg");
	color:bisque;
	padding: 20px;

}


.jumbotron h1{
	font-size: 67px;
	font-family: 'Playball', cursive;
	font-weight: 100;
}



.album {
		padding: 250px 80px 25px 80px !important;

	background-color: #ffc6c6;

}

.card-body{
	text-align: center;
	background-color:  #fff5f5

}

.card-text-bookname{
		font-family: 'Playball', cursive;
		text-align: center;
			font-size: 26px;
}




.card-text-writername{
		font-family: 'Noto Serif', serif;
		text-align: center;
}

.col-md-4{
	    margin-bottom: 15px;
}

.btn-sm{
	border-radius: 7px !important;
	background-color:  #fff5f5 ;

}
.material-icons{
		font-size: 1rem;
}

.goodreads{

	color :green;
	border-color: green;

}

.amazon{

	color: black;
	border-color: black;
	    margin-left: 0.5rem;

}


.goodreads:hover {
	color: white;
	border-color: green;
	background-color: green !important;
	opacity: 0.7;

  }

  .amazon:hover {
	border-color: black;
	background-color: black !important;
	opacity: 0.8;
  }


  .col-md-6{
	padding:15px;
	color: black;
	font-size: large;
	text-align: right;
	background-color: #fff5f5;
}




.col-md-3{
	padding :10px;
	text-align :center;
	font-size: larger;
	background-color: #fff5f5;
}

.containerf{
    max-width: 1490px;
}

/*Responsive Styling*/
@media (max-width: 1249px){
	.album{
	padding: 250px 80px 25px 80px !important;
	}
}

@media (max-width: 1149px){
	.album{
	padding: 250px 50px 25px 50px !important;
	}
}


@media (max-width: 1057px){
		.album{
		padding: 250px 20px 25px 20px !important;
		}


}


@media (max-width: 1024px){
		.album{
		padding: 250px 20px 25px 20px !important;
		}

		.card-text-writername{
			font-size: 13px;

			}



}


@media (max-width: 998px){
		.album{
		padding: 250px 0px 25px 0px !important;
		}


@media (max-width: 768px){
		.album{
		padding: 250px 90px 25px 90px !important;
		}

		.col-md-6{
			text-align: center;
			font-size: 17px;
		}

		.card-text-bookname{
			font-size: 31px;
		}

		.card-text-writername{
			font-size: 20px;

			}

}

@media (max-width: 445px){
		.album{
			padding: 225px 70px!important;
		}

		.col-md-6{
			text-align: center;
			font-size: 15px;
		}

		.card-text-bookname{
			font-size: 23px;
		}

		.card-text-writername{
			font-size: 15px;

			}

		.jumbotron h1{
			font-size: 53px
		}

		.btn-sm{
			font-size: 10px;

		}
}

@media (max-width: 350px){
		.album{
			padding: 250px 20px!important;
		}

		.jumbotron h1{
			font-size: 50px
		}
}
