/* Move down content because we have a fixed navbar that is 3.5rem tall */

.jumbotron {
	text-align: center;
	margin-bottom: 0px;
	background-image: url("../images/romance1.jpg");
	color:bisque;
	padding: 20px;

}


.jumbotron h1{
	font-size: 67px;
	font-family: 'Playball', cursive;
	font-weight: 100;
}



.album {
	padding: 250px !important;
	background-color: #ffc6c6;

}

.card-body{
	text-align: center;
	background-color:  #fff5f5

}

.card-text-bookname{
		font-family: 'Playball', cursive;
		text-align: center;
			font-size: 26px;
}




.card-text-writername{
		font-family: 'Noto Serif', serif;
		text-align: center;
}

.btn-outline-secondary{
	border-radius: 7px !important;
	background-color:  #fff5f5 ;
	
}

.btn-outline-secondary:first-child{
	
	color :green;
	border-color: green;
	
}

.btn-outline-secondary:last-child{
	
	color: black;
	border-color: black;
	
}


.btn-outline-secondary:first-child:hover {
	color: white; 
	border-color: green;
	background-color: green !important;
	opacity: 0.7;

  }

  .btn-outline-secondary:last-child:hover { 
	border-color: rgb(250, 150, 19);
	background-color: rgb(250, 150, 19) !important; 
	opacity: 0.8;
  }

  .col-md-6{
	padding:15px;
	color: black;
	font-size: large;
	text-align: right;
	background-color: #fff5f5;
}




.col-md-3{
	padding :10px;
	text-align :center;
	font-size: larger;
	background-color: #fff5f5;
}

.containerf{
    max-width: 1490px;
}

/*Responsive Styling*/
@media (max-width: 1199px){
	.album{
		padding: 80px 100px !important;
	}
}

@media (max-width: 992px){
		.album{
			padding: 80px 0px !important;
		}

	
}
	
@media (max-width: 768px){
		.album{
			padding: 80px 100px!important;
		}

		.col-md-6{
			text-align: center;
			font-size: 17px;
		}

		.card-text-bookname{
			font-size: 31px;
		}
	
}

@media (max-width: 600px){
	.album{
			padding: 500px 10px!important;
		}
	
}
