/* Move down content because we have a fixed navbar that is 3.5rem tall */

.jumbotron {
	text-align: center;
	margin-bottom: 0px;
	background-image: url("../images/romance1.jpg");
	color:bisque;

}


.jumbotron h1{
	font-size: 67px;
	font-family: 'Playball', cursive;
	font-weight: 100;
}

.jumbotron p{

	font-size: 26px;
	font-family: 'Noto Serif', serif;
	color:white !important;


}



.album {
	padding-top: 80px !important;
	background-color: #ffc6c6;

}

.card-body{
	text-align: center;

}

.card-text-bookname{
		font-family: 'Playball', cursive;
		text-align: center;
			font-size: 26px;
}




.card-text-writername{
		font-family: 'Noto Serif', serif;
		text-align: center;
}

.btn-outline-secondary{
	border-radius: 7px !important;
}
