/* Move down content because we have a fixed navbar that is 3.5rem tall */
 
.jumbotron {
	text-align: center;
	margin-bottom: 0px;
	background-image = <img src="../images/fantasy1.jpg"> ;
}


.jumbotron h1{
	font-size: 67px;
	font-family: 'Playball', cursive;
	font-weight: 100;
}

.jumbotron p{

	font-size: 26px;
	font-family: 'Noto Serif', serif;
	color: #554c4c !important;

}

.album {
	padding-top: 80px !important;
	background-color: #fff9f1;
}

.btn-outline-secondary{
	border-radius: 7px !important;
}
