$cover-size-scalar: 30;
$cover-height: 7px;
$cover-width: 26.5px;

.cover-wrapper {
  display: grid;
  gap: 1rem;
}

.cover-wrapper-1-col {
  grid-template-columns: 1fr;
}

.cover-wrapper-2-col {
  grid-template-columns: 1fr 1fr;
}

.cover-wrapper-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.cover {
  height: $cover-height*$cover-size-scalar;
  // width: $cover-width*$cover-size-scalar;

  // text-align: left;
  display: grid;
  grid-template-areas: "a a b b b b";
  // flex-direction: row;
  // justify-content: space-around;

  background-color: $black-025;
  border-radius: 1.5rem;
  transition: all .2s ease-in-out;
}

.cover:hover {
  // border: 1px solid $dark-gray;
  text-decoration: none;
  background-color: #f89d9d2e;
  transform: scale(1.03)
}

.cover-inner {
  grid-area: b;
  padding: 0.5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.cover-title {
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: 900;
  color: $title-color;
  line-height: 1.2;
}

.cover-title a {
  color: $title-color;
}

.cover-top a:hover {
  text-decoration: none !important;
}

.cover-subtitle {
  font-size: 1.1rem;
  color: $black-70;
  padding-top: 0.40rem;
  padding-bottom: 0.4rem;
  line-height: 1.1rem;
  font-weight: 350;
}

.cover-footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.cover-venue,
.cover-year,
.cover-links {
  font-size: 1.1rem;
  // font-style: italic;
}

.cover-venue,
.cover-year {
  padding-bottom: 0.5rem;
}

.cover-venue {
  font-style: italic;
  font-weight: 700;
  color: $black-60;
}

.cover-year {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.cover-image {
  grid-area: a;
  // display: flex;
  justify-self: start;
  align-self: center;
  // align-items: stretch;
  // justify-content: start;
  padding: 0.5rem;
  height: 210px;
  width: 270px;
  // object-fit: fill;
  // padding-bottom: 0.5rem;
}

// .cover-image {
//   width: 40%;
//   padding: 0.5rem;
// }

.cover-image>a>img {
  border-radius: 1rem;
  border: 1px solid $black-05;
  padding: 0.25rem;
  background-color: white;
  width: 100%;
  height: 100%;
  object-fit: fill;
  // max-height: 280px;
  // max-width: 500px;
}

// .cover-image>a>img {
//   border-radius: 1rem;
//   border: 1px solid $black-05;
//   // padding: 0.25rem;
//   background-color: white;
// }

.cover-link {
  text-decoration: none;
}

.cover-links>.pub-misc {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: flex-start;
  font-size: 0.9rem;
  font-weight: 600;
}

.cover-links>.pub-misc>a {
  background-color: #ffffff;
  padding: 0.25rem 0.35rem 0.25rem 0.35rem !important;
  border-radius: 0.25rem;
  margin-right: 0rem;
}

.cover-links>.pub-misc>a:hover {
  color: #ffffff !important;
  background-color: $blue;
}

@media screen and (max-width: $homepage-pre-mobile) {
  .cover-wrapper {
    grid-column: page;
    justify-content: left;
  }

  .cover {
    flex-direction: column;
    margin-left: 0rem;
    width: auto;
  }

  .cover-image {
    width: 100%;
    padding: 0.5rem;
  }
}

@media (max-width: $mobile) {
  .cover-wrapper {
    grid-column: page;
    justify-content: left;
    grid-template-columns: 1fr;
  }

  .cover {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }

  .cover-image {
    width: 100%;
    padding: 0.5rem;
  }
}